<script>
<% if @b2b!=nil %>
    var b2b=1;
<% else %>
var b2b=0;
    <% end %>

</script>
	<div class="container_fluid">
			<div class="header">
                <div style="display: inline-block;">

                  <a href="/suggest/index">
        <img  src="../images/shuttl_logo.png" class="logo" />
               </a>
                </div>

			</div>
			<div class="screenWrapper fullheight">

			</div>
			<div class="bounce notInterested">I'm not interested</div>
			
		</div>
    <script>
      var paymentFlow=1;
    </script>

    <%= javascript_include_tag 'script', 'data-turbolinks-track' => true %>
						<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2l0w6s0WszboqNqwFOIGPLKPgovaKnZk&amp;libraries=places,geometry&amp;callback=initAutocomplete" async="" defer=""></script>
    <%= javascript_include_tag 'pushNotifications', 'data-turbolinks-track' => true %>

    <% if (session["info"]!=nil)%>
    <script>
      jQuery.ajax({url:"/suggest/getInfo"}).done(function(response){

        var info_n=response;
        for (var k in info_n){

          info[k]=info_n[k];
        }
        if (info["payment_status"]==1){

          changeToStage(12);
        }else if (info["payment_status"]==2 || info["payment_status"]==3){

          changeToStage(10);

        }
      });
    </script>
    <% end %>
  <script type="text/javascript">
    var _hmc = _hmc || [];
    _hmc.push(['app', '3694382ada684639a3e910a3f5c25b17']);
    _hmc.push(['settings', {"position":"topleft","height":"275px"}]);
    (function() {
      var hm = document.createElement('script'); hm.type = 'text/javascript';
      hm.async = true; hm.src = 'https://hipmob.s3.amazonaws.com/hipmobchat.min.js';
      var b = document.getElementsByTagName('script')[0]; b.parentNode.insertBefore(hm, b);
    })();
  </script>