
		<div class="container_fluid">
			<div class="header">
				<img src="/images/logo.png" class="logo" />
				<span class="text text-capitalize">daily home &lt;<span class="grey">&gt; office<span class="grey"> pickup</span> drop</span>
			</div>
			<div class="screenWrapper">

			</div>
			<div class="bounce">I'm not interested</div>
			
		</div>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2l0w6s0WszboqNqwFOIGPLKPgovaKnZk&amp;libraries=places,geometry&amp;callback=initAutocomplete" async="" defer=""></script>
    <%= javascript_include_tag 'script', 'data-turbolinks-track' => true %>
