<section id = "overlay-one">
  <div style="color:#3eb6b5"> <h1 style="font-weight: bold">ORRCA</h1></div>
  <div id="overlay-introduction">
    <div style="color:#333333"><h4 style="margin-bottom: 2px">Introducing</h4></div>
    <div style="color:grey"><h1 style="margin-top:2px">#MakeMyRoute</h1></div>
  </div>
</section>
<section id="overlay-two">
  <h4 style="font-weight: bold">Outer Ring Road Companies Association</h4>
  <p>
    To facilitate home office travel, ORRCA invites you to share your office and home address and preferred time of commute. Using your suggestions we will revert to you shortly with a travel solution that is comfortable and reliable
    With your support, we can aspire to change the face of commute in bangalore. Shared commute is safe for you and the environment. Our solution will be flexible, and give you several timing options. It will bring you closer to your home for pick up and drop off. Travel with colleagues and like minded people; and use the extra time to relax yourself. Your daily commute is no longer about fighting traffic, but about reaching your destination full of energy and with a smile.
  </p>
</section>
<section id="overlay-three">
  <div><img width="100%" src="myor.shuttl.com/images/van2.png"></div>
</section>
