	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "poster", media: "all" %>
	<div id="wrapper">
		<div id="topMessage">
			<span id="topMsgPart1" class="textStyle1">Now Connecting</span><br>
			<span id="topMsgPart2" class="textStyle2">Your Home To Office</span>
		</div>
		<div id="routeDiagram">
			
		</div>
		<div id="mainText">
			<span id="mainBeginning" class="textStyle1">To buy a pass on this route or to</span>
			<span id="mainHashTag" class="textStyle1">#MakeYourOwnRoute</span>
			<span id="smsMessage" class="textStyle1">SMS 4656 on 343473</span>
			<span id="mainEnd" class="textStyle2">Hurry! Limited Passes Available</span>
		</div>
	</div>