
<div class="app-wrapper">
    <!--app header start-->
    <div class="header">
        <div class="lazypaysectionheader">
            <div class="logo"><img src="/images/lazypayLogo.png" alt="logo"></div>
            <p class="email">test@gmail.com</p>
        </div>
    </div>

    <!--left info start-->
    <div class="lazypay-info-wrapper">
        <div class="pay-now overlayBtn">
            <button type="submit" id="slideLeft" class="lazy-pay btnMobile">
                LazyPay Now
                <span class="btnArrow"><img src="/images/button-arrow.png" alt="arrow"></span>
            </button>
        </div>
        <div class="lazypayinfo-container floatLeft">
            <div class="title">LazyPay, always <span>buying you time</span></div>
            <div class="steps">
                <p>
                    <span class="img"><img src="/images/step1.png" alt="step1" class="step1Img"></span><span
                        class="checkoutSpan stepsSpanTxt">Checkout 7 times faster! </span></p>

                <p><span class="img"><img src="/images/step2.png" alt="step2" class="step2Img"></span><span
                        class="stepsSpanTxt"> We'll pay for you
                            at no extra cost.</span></p>

                <p><span class="img"><img src="/images/step3.png" alt="step3" class="step3Img"></span> <span
                        class="stepsSpanTxt">Yoy have up to 14 days<br> to pay us back. </span></p>
            </div>
        </div>
        <div class="rightOverlay"></div>
    </div>

    <!--lazypaysection-container starts-->
    <div class="lazypaysection-container">
        <div class="lazypaysection">
            <div class="mobilebanner">
                <img src="/images/mobile-banner.jpg" alt="banner">
            </div>

            <div class="step-two">
                <p class="">OTP sent on <b>9850971730</b></p>

                <p class="">for your order of <b>₹350</b> with <b>Grofers.</b></p>

                <p class="enter-otp">
                    <input type="text" id="otpforLaypay" placeholder="Enter OTP">
                    <span class="resend"><button type="button"><img src="/images/resendicon.png" alt="resend">Resend
                    </button> </span>
                </p>
                <p class="pay-now lazyPayNow">
                    <button type="submit" class="lazy-pay">Confirm</button>
                </p>
                <p class="terms-span">By Proceeding, you agree to our <a class="terms">Terms &amp; Conditions</a></p>
                 <p class="go-back-span">Go back to <a href="#">www.merchant.com</a></p>
            </div>

        </div>
        <!--The image to open sidebar-->
        <img id="openSidebar" class="openSidebar" src="/images/slider-img.png" alt="lock" style="">

        <div class="footer">
            <div class="secure-citrus">
                <p><img src="/images/lockIcon.png" alt="lock">
                    <span>Secured With Citrus</span></p>

                <p class="merchant-logo cards"><img class="cardTypes" src="/images/cardtypes.png" alt="merchant logo"></p>
            </div>
        </div>
    </div>
    <!--popup overlay starts-->
    <div class="overlay" style="display:none"></div>
</div>