

.textStyle1{
	color: white;
}

.textStyle2{
	color: #0D4248;
}

div#wrapper{
	position: relative;
	width: 3508px;
	height: 4961px;
	background-image: url('images/bg-poster.png');
	margin: 0 auto;
	font-family: Lato;
}

div#topMessage{
	text-align: center;
}

span#topMsgPart1{
	text-transform: uppercase;
	font-size: 250px;
	position: relative;
	top: 1000px;
	font-weight: bold;
}

span#topMsgPart2{
	font-size: 250px;
	position: relative;
	top: 1000px;
}

div#routeDiagram{
	width:3343px;
	height: 811px;
	margin: 0 auto;
	position: relative;
	top: 1000px;
	background: url("images/bg-route.png");
}

div.pickupIcon{
	width: 69px;
	height: 68px;
	background: url("images/pickup-icon.png");
	position: absolute;
	top: 377px;
}

div.milestoneName{
	writing-mode: tb-rl;
    font-size: 50px;
    position: absolute;
    height: 255px;
}

div#ms1{
	
	top: 100px;
	left: 178px;
	
	text-align: right;
}

div#msTest{
	bottom: 70px;
	left: 3078px;
	text-align: left;
}

div#mainText{
	text-align: center;
	position: relative;
	top: 1081px;
}

span#mainBeginning{
	font-size: 150px;
	position: relative;
}

span#mainHashTag{
	font-size: 150px;
	position: relative;
}

span#smsMessage{
	display: block;
	padding: 70px;
	font-size: 150px;
	width: 1650px;
	border: 10px dotted white;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}

span#mainEnd{
	font-size: 150px;
}