body{
    font-family: "Lato Normal 400", Lato, "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    background: white;
    color: #333333;
}



div#main-wrapper{
    max-width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}

div.header-container{
    height: 65px;
    padding: 8px;
    font-size: 20px;
    box-sizing: content-box;
}


div.header-container .shuttl-logo {
    width: 90px;
}

div.header-container .shuttl-logo .logo {
    max-width: 100%;
}


div.footer-container {

    padding: 16px 8px 16px 8px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


div.route-map {
    text-align: center;
    padding: 0;
}

div.route-map .start-end {
    font-size: 10px;
    padding: 5px 0 5px 0;
    position: relative;
    right: 50%;
}

div.route-map .shuttl-image {
    /*background: white;
    background-image: url(images/Shuttl.png);
    background-size: cover;*/
    position: absolute;
    height: 18px;
    width: 35px;
    z-index: 200;
    left: -16px;
    top:0px;
    background: white;
}

div.route-map .pickup-point-container {
    position: relative;
    border-left: 2px solid #e5e5e5;
    border-top-left-radius: 2px;
    margin-left: 0px;
    padding-left: 15px;
    opacity: 50;
}

div.route-map .pickupPointRow {
    /* padding: 5px 0 5px 0;*/
    position: relative;
    height: 7vh;
}


div.route-map .pickupPointRow.odd-row .pickupPointInformation{
    text-align: left;
    position: relative;
    left: 10%;
}

div.route-map .pickupPointRow.even-row .pickupPointInformation{
    text-align: right;
    position: relative;
    right: 130%;
}

div.route-map .pickupPointRow + .nextPickupPointRow {
    color: #00adb7;
}

div.route-map .pickupPoint {
    font-size: 14px;
}

div.route-map .landmark {
    font-style: italic;
    font-size: 12px;
}

div.route-map .pickupPointRow .circle{
    position: absolute;
    left: -22px;
    top: 9px;
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #333333;
}
div.route-map .pickupPointRow .circle.point-crossed {
    background: #ee4050;
}
div.route-map .pickupPointRow .circle.points-left {
    background: green;
}

div.route-map .pickupPointRow + .nextPickupPointRow .circle{
    background: #00adb7;
}

div.route-map .pickupPointRow .circle.shuttlImage {
    background: white;
    background-image: url(images/Shuttl.png);
    height: 18px;
    width: 35px;
    z-index: 200;
    background-size: cover;
    left: -35px;
}

div.tracking-info-column {

}

div.tracking-info-column .vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

div.error-grey {
    position: absolute;
    top:0;
    left:0;
    opacity: 0.87;
    background: black;
    height: 88vh;
    width:100%;
    z-index: 1000;
    display: none;
}

div.error-white {
    height: 50vh;
    width: 75vw;
    position: absolute;
    top: 20vh;
    left: 12.5vw;
    background: white;
    z-index: 10000001;
    text-align: center;
    display: none;
}

div.error-white .error-message {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    padding: 16px;
    display: none;
}

@media only screen and (min-device-width: 380px)
{
    div.route-map .pickupPoint {
        font-size: 16px;
    }

    div.route-map .landmark {
        font-style: italic;
        font-size: 12px;
    }

    div.header-container{
        font-size: 22px;
    }
}

@media only screen and (min-device-width: 550px)
{

    div.route-map .pickupPoint {
        font-size: 26px;
    }

    div.route-map .landmark {
        font-size: 24px;
    }

    div.route-map .pickup-point-container {
        border-left: 5px solid #333333;
    }

    div.header-container{
        font-size: 40px;
        height: 150px;
    }

    div.route-map .pickupPointRow .circle{
        left: -28px;
        width: 20px;
        height: 20px;
    }

    div.route-map .start-end {
        font-size: 16px;
    }

    div.footer-container {
        font-size: 40px;
    }

    div.header-container .shuttl-logo {
        width: 160px;
    }

    div.error-white .error-message {
        font-size:28px;
    }
}

@-webkit-keyframes shuttlBlink {
    from, to {
        background: green;
    }
    50% {
        background: orange;
    }
}

@keyframes shuttlBlink {
    from, to {
        background: green;
    }
    50% {
        background: orange;
    }
}

@media only screen and (min-device-width: 750px) {
    body {
        width: 60% !important;
        margin: 0 auto;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    div.route-map .pickupPoint {
        font-size: 16px;
    }

    div.route-map .landmark {
        font-size: 14px;
    }

    div.route-map .pickup-point-container {
        border-left: 5px solid #333333;
    }

    div.header-container{
        font-size: 22px;
        height: 27px;
        margin-top: 16px;
    }

    div.route-map .pickupPointRow .circle{
        left: -28px;
        width: 20px;
        height: 20px;
    }

    div.route-map .start-end {
        font-size: 12px;
    }

    div.footer-container {
        font-size: 22px;
        width: 60%;
    }

    div.header-container .shuttl-logo{
        position: absolute;
        left: 16px;
        top: 16px;
        width: 100px;
    }
}

.point-next {
    -webkit-animation: shuttlBlink 1s step-end infinite;
    animation: shuttlBlink 1s step-end infinite;
}

a {
    color: #333;
}
img#shuttl-image-id {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}