.input-group-addon{
	background-color: transparent;
}
.input-group .form-control[type="text"]{
	padding: 10px 30px 10px 10px;
}
.form-group-wrapper{
	position: relative;
}
.input-group-addon.remove{
	border: 0 none;
    position: absolute;
    right: 1px;
    z-index: 99;
    cursor: pointer;
    display: none;
    padding: 10px 20px 10px 10px;
}
.header{
	padding: 0px 15px 15px;
    display: table;
    width: 100%;
}
.header .logo{
    margin-top: 5px;
	width: 50px;
}
.grey{
	color: #c0c0c0;
}
.header .text{
    vertical-align: middle;
    font-weight: 600;
    display: table-cell;
    padding: 0 21px;
    text-align: center;
    font-size: 1.8rem;
}
.screenWrapper{
	overflow: hidden;
	position: relative;
}
.screen{
	display: table;
	width: 100%;
	transition-duration: 0.3s;
	transition-timing-function: ease;
    position: absolute;
	top: 0;
	padding-top: 20px;
}
.upArr, .downArr{
	text-align: center;
	clear: both;
}
.upArr{
	display: table-header-group;
}
.downArr{
	display: table-footer-group;
}
fieldset{
	padding: 0;
    margin: 0;
    border: 1px solid silver;
}
legend{
	width: auto;
	padding: 0 20px;
    font-size: 16px;
	border-bottom: 0 none;
    margin-bottom: 5px;
}
.routeHeading{
	padding: 0;
	font-weight: 600;
}
.routeHeading .routeCreated{
	text-decoration: underline;
	color: #337ab7;
	display: block;
	margin-bottom: 10px;
	font-weight: 400;
}
.slotHeading{
	font-weight: 600;
	cursor: pointer;
}
.slotRow{
    padding: 10px 0 0 0px;
	cursor: pointer;
}
.routeCount{
	margin-top: 10px;
}
.row.social {
    position: absolute;
    width: 100%;
	bottom: 0px;
}
.social > div {
    background-color: #428bca;
	background-color: #428bca;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.social > div > span {
    color: #ffffff;
    padding: 15px;
	cursor: pointer;
}
em {
    font-size: 12px;
    font-style: normal;
}

.fa-angle-double-up, .fa-angle-double-down{
	padding: 10px 12px;
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    margin-bottom: 15px;
	cursor: pointer;
}
.bounce{
    text-decoration: underline;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    z-index: 99;
    font-size: 10px;
	cursor: pointer;
}
.submitsurvey {
    
}
.headText{
	padding: 0 58px;
	font-size: 18px;
}
.headText.headText2{
	padding: 0 15px;
}
.headText.headText3{
	padding: 0 44px;
}
.headText .highlight{
	font-size: 1.8rem;
    font-weight: 600;
}
.headText.headText2 .highlight{
	line-height: 6rem;
}
.headText.headText3 .highlight{
	line-height: 7rem;
}
span.slots {
    text-decoration: underline;
}
.loader{
	display: none;
	text-align: center;
	width: 100%;
}
.error{
	color: #a94442;
	font-size: 12px;
}
.modal-body .bounce{
	position: relative;
	margin-top: 30px;
}
.submitsurvey {
    width: 100%;
	font-size: 18px;
}
.fa-social{
	color: #ffffff;
    text-decoration: none;
}
#gMap{
	
}
.routeInfo{
	
}
.routePtName{
	display: inline-block;
    width: 157px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    position: relative;
    top: -10px;
    background-color: #ffffff;
    padding: 0 6px;
}
.carousel{
	width: 100%;
	text-align: center;
	margin: 10px 0;
}
.carousel .leftbtn,
.carousel .rightbtn{
	display: inline-block;
    vertical-align: middle;
}
.carousel .btnsWrapper{
	width: 254px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    position: relative;
    height: 50px;
}
.carousel .btnsWrapper .btns{
	display: block;
    position: relative;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	left:0;
}
.btnTime{
	min-width:100px;
	width:100px;
	max-width:100px;
	float: left;
	margin: 0 2px;
}
.btn-group-justified .btn{
	float: left;
	position: relative;
}
.fieldset {
    border: 1px solid #c0c0c0;
	text-align: center;
}
.mapMsg{
	margin: 5px 0;
}
.seats{
	font-weight: 600;
}
.fillingfast{
	margin: 5px 0;
    font-size: 12px;
	text-align: center;
}
.line1{
	text-align: center;
    margin: 10px 0;
    font-size: 24px;
}
.line2{
	text-align: center;
    margin: 10px 0;
    font-size: 18px;	
}
span.live{
	position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    font-size: 12px;
}
.ambassador{
	width: 315px;
    text-align: center;
    font-size: 18px;
}
.promoMsg{
	padding: 0 10px;
    font-size: 16px;
}
.promoMsg em{
	font-size: 18px;
    text-decoration: underline;
    color: #2e6da4;
}
.promoMsg .extra{
	margin-top: 15px;
    font-size: 13px;
    text-decoration: underline;
}
.confirmMsg{
	margin: 15px 10px;
    text-align: center;
}
.confirmMsg em{
	font-size: 16px;
    color: #2e6da4;
    text-decoration: underline;
}
.payments .home,
.payments .office{
	
}
.box{
	border: 1px solid #c0c0c0;
    margin-bottom: 10px;
    padding: 10px;
}
.boxrow{
	width: 100%;
    float: left;
    margin-bottom: 5px;
}
.boxrow .heading{
	float: left;
    font-weight: 600;
}
.boxrow .change{
	float: right;
    text-decoration: underline;
}
.routeinfo {
    width: 100%;
    float: left;
    margin-bottom: 2px;
    text-align: left;
}
.box:after {
    content: " ";
    clear: both;
    display: table;
}
fieldset.pay{
	padding: 10px;
}
.headText.headText4{
	padding: 10px 0px;
}
.full{
	width: 100%;
}
span.highlight.lesshighlight {
    line-height: 4rem !important;
}
.nextBtnMap {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.bouncebtn,.backBtnMap {
    position: absolute;
    bottom: 0px;
}
.container_fluid{

    height:100%;
}
.fullheight,.screen{


    height:100%;
    display:block;

}

.paynow {
    bottom: 41px;
    position: absolute;
    left: 0px;
}
.not-int{

    bottom:0px;
    position: absolute;
    left:0px;

}
.submit-butt{

    display: table-footer-group;
    width: 100%;
    display: block !important;
    position: absolute;
    bottom: 0px !important;
}
.downArr{

    position: absolute;
    bottom:10px;

}
.upArr{

    display:block !important;

}
.dowfirst{

    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -24px;
}
.inputClicked_homeLocation .homeL{

    position: absolute;
    top:0px;


}
.inputClicked_homeLocation .officeL{

    display:none;

}
.inputClicked_officeLocation .officeL{

    position: absolute;
    top:0px;

}
.inputClicked_officeLocation .homeL{

    display:none;
}
.inputClicked_homeLocation .text-center,.inputClicked_officeLocation .text-center{

    display:none;

}
.loader_inner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -60px;
    margin-top: -60px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader_wrapper{

    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    background: #000;
    opacity: 0.8;
    z-index: 10000;
}
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.glyphicon{

    line-height: 0px !important;
}
.carousel-control.left, .carousel-control.right {
    background-color: #000;
    opacity: 0.5;
}
.carousel-control{

    width: 15px !important;

}
.allow-notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

