.input-group-addon{
    background-color: transparent;
}
.input-group .form-control[type="text"]{
    padding: 10px 30px 10px 10px;
}
.form-group-wrapper{
    position: relative;
}
.input-group-addon.remove{
    border: 0 none;
    position: absolute;
    right: 1px;
    z-index: 99;
    cursor: pointer;
    display: none;
    padding: 10px 20px 10px 10px;
}
.header{
    padding: 0px 15px 15px;
    display: table;
    width: 100%;
}

.logo {
    margin-top: 15px;
    width: 160px;
}
.grey{
    color: #c0c0c0;
}
.header .text{
    vertical-align: middle;
    font-weight: 600;
    display: table-cell;
    padding: 0 21px;
    text-align: center;
    font-size: 1.8rem;
}
.screenWrapper{
    overflow: hidden;
    position: relative;
}
.screen{
    display: table;
    width: 100%;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    position: absolute;
    top: 0;
    padding-top: 20px;
}
.upArr, .downArr{
    text-align: center;
    clear: both;
}
.upArr{
    display: table-header-group;
}
.downArr{
    display: table-footer-group;
}
fieldset{
    padding: 0;
    margin: 0;
    border: 1px solid silver;
}
legend{
    width: auto;
    padding: 0 20px;
    font-size: 16px;
    border-bottom: 0 none;
    margin-bottom: 5px;
}
.routeHeading{
    padding: 0;
    font-weight: 600;
}
.routeHeading .routeCreated{
    text-decoration: underline;
    color: #00adb7;
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
}
.slotHeading{
    font-weight: 600;
    cursor: pointer;
}
.slotRow{
    padding: 10px 0 0 0px;
    cursor: pointer;
}
.routeCount{
    margin-top: 10px;
}
.row.social {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.social > div {
    background-color: #00adb7;
    background-color: #00adb7;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #00adb7;
;
}
.social > div > span {
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
}
em {
    font-size: 12px;
    font-style: normal;
}

.fa-angle-double-up, .fa-angle-double-down{
    padding: 10px 12px;
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    margin-bottom: 15px;
    cursor: pointer;
}
.bounce{
    text-decoration: underline;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    z-index: 0;
    font-size: 10px;
    cursor: pointer;

}
.submitsurvey {

}
.headText{
    padding: 0 58px;
    font-size: 18px;
}
.headText.headText2{
    padding: 0 15px;
}
.headText.headText3{
    padding: 0 44px;
}
.headText5 {
    font-size: 12px;
    padding: 5px;
}
.headText .highlight{
    font-size: 1.8rem;
    font-weight: 600;
}
.headText.headText2 .highlight{
    line-height: 6rem;
}
.headText.headText3 .highlight{
    line-height: 7rem;
}
span.slots {
    text-decoration: underline;
}
.loader{
    display: none;
    text-align: center;
    width: 100%;
}
.error{
    color: #a94442;
    font-size: 12px;
}
.modal-body .bounce{
    position: relative;
    margin-top: 30px;
}
.submitsurvey {
    width: 100%;
    font-size: 18px;
}
.fa-social{
    color: #ffffff;
    text-decoration: none;
}
#gMap{

}
.routeInfo{

}

.landmark {
    margin: 2px;
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}
.routePtName{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    position: relative;
    top: -10px;
    background-color: #ffffff;
    padding: 0 6px;
    margin-top:3px;
    color: #3c5daa;
}
.carousel{
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    height: 36px;

}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-slide{

    margin-right: 10px;
}
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-next,.slick-prev {
    background: #00adb7;
    color: #fff;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev::before {
    content: "â†";
}
.slick-prev::before {
    content: "â†";
}
.carousel .leftbtn,
.carousel .rightbtn{
    display: inline-block;
    vertical-align: middle;
}
.carousel .btnsWrapper{
    width: 254px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    position: relative;
    height: 50px;
}
.carousel .btnsWrapper .btns{
    display: block;
    position: relative;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    left:0;
}
.btnTime{
    min-width:20px;
    width:82px;
    max-width:100px;
    float: left;
    margin: 0 2px;
}
.btn-group-justified .btn{
    float: none;
    position: relative;
}
.fieldset {
    border: 1px solid #c0c0c0;
    text-align: center;
}
.mapMsg{
    margin: 5px 0;
    width:50%;
}
.seats, .days{
    font-weight: 600;
}
.daysLeft{
    margin: 5px 0;
    text-align: center;
    width:50%;
    padding-left:20%;
}

.fillingfast{
    margin: 5px 0;
    font-size: 12px;
    text-align: center;
}
.passinf{

    margin: 5px 0;
    font-size: 15px;
    text-align: center;

}
.promoDetails {
    margin: 20px;
    font-size:18px;
}
.line1{
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
}
.line2{
    text-align: center;
    margin: 8px 0;
    font-size: 18px;
}
span.live{
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    font-size: 12px;
}
.ambassador{
    width: 315px;
    text-align: center;
    font-size: 18px;
}
.promoMsg{
    padding: 0 10px;
    font-size: 16px;
}
.promoMsg em{
    font-size: 18px;
    text-decoration: underline;
    color: #00adb7;
}
.promoMsg .extra{
    margin-top: 15px;
    font-size: 13px;
    text-decoration: underline;
}
.confirmMsg{
    margin: 15px 10px;
    text-align: center;
}
.confirmMsg em{
    font-size: 16px;
    color: #00adb7;
    text-decoration: underline;
}
.payments .home,
.payments .office{

}

.payTM-image{
    text-align: center;
    max-height: 64px;
}
.box{
    border: 1px solid #c0c0c0;
    margin-bottom: 10px;
    padding: 10px;
}

.box-payment {
    border: 1px solid #c0c0c0;
    padding: 10px;
}
.boxrow{
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
.boxrow .heading{
    float: left;
    font-weight: 600;
}
.boxrow .change{
    float: right;
    text-decoration: underline;
}
.routeinfo {
    width: 100%;
    margin-bottom: 2px;
    text-align: center;
}

.routeinfo1 {
    width: 100%;

    text-align: center;
}

.routeinfoPayment {
    width:100%;
    margin-bottom: 2px;
    text-align: left;
}
.box:after {
    content: " ";
    clear: both;
    display: table;
}

.shuttl-pass{
    font-size: 16px;
}
.shuttl-pass.selected {
    background-color: #3c5daa !important;
    color: #fff;
}
fieldset.pay{
    padding: 10px;

}
.success{
    color:green;
}
.successpay{

    margin-top: 22px;
}
.headText.headText4{
    padding: 10px 0px;
}
.payTM-click-to-pay{
    padding-right: 20px!important;
    color:#333333!important;
    font-weight: 700;
    font-size: 20px;
}
.full{
    width: 100%;
}
.centerHorizontal
{
    text-align: -webkit-center;
}

span.highlight.lesshighlight {
    line-height: 4rem !important;
}
.nextBtnMap {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.bouncebtn,.backBtnMap {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.submit-notification {
    background-color: #00adb7;
    color: white;
}

.fullheight,.screen{


    height:100%;
    display:block;
}

.screen {
    padding-top:2px;
}

.paynow {
    bottom: 41px;
    position: static;
    left: 0px;
    padding-top: 12px;
    height:42px;
    margin:2px;
    width: 48%;
}
.not-int{

    bottom:0px;
    position: absolute;
    left:0px;

}
.submit-butt{

    display: table-footer-group;
    width: 100%;
    display: block !important;
    position: absolute;
    bottom: 0px !important;
}
.downArr{

    position: absolute;
    bottom:10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

}
.upArr{

    display:block !important;

}
.dowfirst{

    position: absolute;
    bottom: 10px;
    left: 50%;

}
.inputClicked_homeLocation .homeL{

    position: absolute;
    top:0px;


}
.inputClicked_homeLocation .officeL{

    display:none;

}
.inputClicked_officeLocation .officeL{

    position: absolute;
    top:0px;

}
.inputClicked_officeLocation .homeL{

    display:none;
}
.inputClicked_homeLocation .text-center,.inputClicked_officeLocation .text-center{

    display:none;

}


.centered {
    text-align: center;
}
.loader_inner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00adb7;
    border-bottom: 16px solid #00adb7;
    width: 120px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -60px;
    margin-top: -60px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader_wrapper{

    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    background: #000;
    opacity: 0.8;
    z-index: 10000;
}
.
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.glyphicon{

    line-height: 0px !important;
}
.carousel-control.left, .carousel-control.right {
    background-color: #000;
    opacity: 0.5;
}

.allow-notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.carousel-control{

    width: 15px !important;

}

.container_fluid {
    height:100%;
    margin-top:-5px;
    overflow: scroll;
}

.inline {
    display:inline;
}


.overlay-logo{
    border-right: solid;
    border-right-color: #00adb7;
}

section{
    width: 100%;
    height:100px;
    background: white;
    padding: 2px;
}
div#overlay-logo{
    text-align: center;
    margin-top:10px;
    margin-right:2px;
    border-right: 1px solid #00adb7;
}

div#overlay-introduction {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 5%;
}

.route-information{
    color: white;
    margin:5px;
    margin-top:0px;
}

.route-information-image {
    vertical-align:middle;
    float: left;
    height:32px;
}

section#overlay-one{
    height:11%;
    display:flex;
    padding:5px;
    padding-top:0px;
}
.modal-dialog{

    margin-top:25px;
}
section#overlay-two{
    padding-top:16px;
    padding-left:16px;
    padding-right:16px;
    height:39%;
    background-color:#00adb7;
}
section#overlay-three{
    width: 100%;
    height: 50%;
    padding-top:16px;
    padding-left: 16px;
    padding-right:16px;
    background: -webkit-linear-gradient(bottom, grey, grey 30%, white 30%, white);
}

img#overlay-arrow{
    float:left;
    vertical-align:middle;
    width:32px;
}

div#home-to-office{
    display:flex;
    align-items:center;
    max-height:15px;
    margin:5px;

}

.flex{
    display: -webkit-flex;
    display:flex;
    align-items:center;
}

.flex-columns{
    display:-webkit-flex;
    display:flex;
    flex-direction: column;
    -webkit-flex-direction:  column;
    margin: 0px;
}

p, h1, h2, h3, h4 {
    font-family: Lato;
    margin: 5px;
    font-weight:normal;
}

div#overlay-starting-at {
    color: grey;
    margin-left: 10px;
    margin-right:10px;
    margin-top:0px;
}

hr {
    border-color: grey;
    margin:5px;
}

div#assured-seats {
    color:#333333;
    margin-left:16px;
}

div#pickup-drop{
    color:#333333;
    margin: 10px;
    margin-left:4px;
}
.btn-primary, .btn-info {
    background-color: #00adb7!important;
    border-color: #3c5daa!important;
}

.secondary-blue {
    border-color: #3c5daa!important;
}
.bold {
    font-weight:600;
}

body {
    font-family: "Lato Normal 400", Lato, "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    color:#333333!important;
    height: 100%;
    margin: 0 auto;
    overflow-y: hidden;
}


.btn:focus{
    outline: #ef4050!important;
}

#orcaoverlay{

    position: fixed;
    width: 90%;
    top: 34px;
    left: 5%;
    display:none;
    z-index: 1000;
}
#orcacross{

    position: absolute;
    top: 20px;
    right: 4px;
    font-size: 23px;
}
#aboutUsCross{

    position: fixed;
    top: 27px;
    right: 7%;
    z-index: 1000;
}

#aboutUsOverlay{

    position: fixed;
    width: 80%;
    top: 0px;
    bottom: 0px;
    z-index: 1000;
    border: solid 1px #333333;
    overflow: visible!important;
}
#aboutUsOrrcaOverlay{

    position: fixed;
    padding: 2%;
    width: 90%;
    top:20px;
    height:80vh;
    left: 5%;
    display:none;
    z-index: 1000;
    background-color: #00adb7;
    overflow-y:scroll;
    color:white;
}


.vanImage {
    width:80%;
    bottom: 32px;
    position: absolute;
}

.carousel-center{
    padding: 0px!important;
}


.incentive {
    text-decoration:underline;
    font-size: 14px;
}
.setHeight {
    height:42px;
}

.centerVertical {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.notInterested{

    display:none;

}
.otp-entry button{
    margin-right: 10px;
    border: 0px;
    margin-top: 12px;
}
.slide-right {
    bottom:28px;
    position: absolute;
    height:92px;
}

.slide-left {
    background-color: #ee4050;
    height: 30px;
    width: 30%;
    left: 85%;
    position: absolute;
    bottom: 2%;
    font-weight: bold;
    color: white;
    border: 1px solid black;
}
.otp-entry{

    text-align: center;
    padding-bottom: 20px;
}

@media only screen and (min-device-width: 350px) {
    .carousel-inner{

        width:100%;
    }
}
.slick-next::before {
    content: "â†’";
}
.slick-next {
    right: 0px;
    top: 16px;
}
.slick-prev {
    left: -1px;
    top: 16px;
}
.slick-list{

    width: 84%;
    margin-left: 7% !important;
}
.slick-prev, .slick-next{

    display:inline-block !important;
}

.headText5 {
    font-size: 14px;
    padding: 10px;
}
@media only screen and (min-device-width: 750px) {
    body {
        width: 60% !important;
    }
    .bounce{
        width: 60% !important;
    }
    .passinf{
        margin-top: 55px;
    }
}

@media only screen and (max-device-width: 350px) {
    .btnTime {
        font-size: 85%;

    }

    .h4 .slide-left {
        font-size: 16px;
    }

    .h3 .slide-left {
        font-size: 22px;
    }
    .daysLeft{
        font-size: 12px;
    }
    .mapMsg{
        font-size: 12px;
    }

    .carousel-item-center {
        margin-left: calc(50% - 123px);
    }

    .line1 {
        font-size:18px;
    }

    .line2 {
        font-size: 16px;
    }

    .headText {
        font-size: 15px;
    }

}

@media only screen and (max-device-width: 360px){
    .daysLeft{
        font-size: 12px;
    }
    .mapMsg{
        font-size: 12px;
    }

}

@media only screen and (max-device-width: 470px){
    .paynow{font-size: small;}
}

@media only screen and (max-device-width:415px){
    .paynow{font-size: small;}
}


@media only screen and (min-device-width: 415px) {
    .setHeight {
        height: 50px;
    }
}

@media only screen and (min-device-width: 470px){
    .setHeight {
        height:54px;
    }
    .slide-left{
        display: none !important;
    }
    .slide-right {
        display: none !important;
    }
    #aboutUsOverlay{
        display:none !important;
    }
    #grey-screen {
        display: none;
    }

}
.shuttl_pass_info{
    font-size: 10px;
    position: absolute;
    top: -24px;
    background: #103f84;
    z-index: 10000;
    display: none;
    height: calc(100% - 52px);
    width: 90%;
    text-align: justify;
    left: 20px;
    display: none;
    opacity: 0.95;
    padding-top: 45px;
    color: #fff;
    padding: 17px 16px 0 16px;
    border: 1px solid black;

}
.shuttl_pass_info h2{

    text-align: center;
}
.shuttl_pass_info>ul{

    list-style: none;
    padding: 0px;
}
.shuttl_pass_info li {
    margin-bottom: 18px;
    margin-top: 10px;

}
.shuttl_pass_info .descrp{

    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
}
.shuttl_pass_info .gotit{
    border: 1px solid white;
    background: #103f84;
    padding: 5px 10px;
    font-size: 14px;
    position: absolute;
    left: 50%;
    margin-left: -27px;
}
.bolder{

    font-weight:bolder;
}
.strike{

    text-decoration: line-through;
}
.route_price_ticket{
    font-size: 15px;color: #337ab7;
}

.google-play-button {
    display: none;
    height: 64px;
    margin-top: 10%;
}

.app-store-button {
    display: none;
}

.change-case-btn-left {
    width:calc(50% - 15px);
    margin-left: 15px;
}

.change-case-btn-right {
    width:calc(50% - 15px);
    margin-right: 15px;
}

@media only screen and (orientation: landscape) {
    .not-int {
        display: none;
    }
    .notInterested {
        display: none;
    }
}


.search-box, .share-incentive {
    font-size: 16px;
;
}

.search-box {
    border: solid #333333 2px;
    margin: 5px;
    padding: 5px;

}

.friends-bar {
    text-align: left;
    margin-top: 35px;
    color: white;
    background-color: #333333;
    padding-left: 5px;

}

.find-friends {
    width: 100px;
    margin: 0 auto;
}

.contact-list {
    width:100%;
}

.contact-thumbnail {
    max-height: 48px!important;
}

.select-all {
    display: flex;
    float:right;
    padding-bottom: 5px;
    right: 53px;
    position: absolute;
}

.contact-checkbox {
    float:right;
    margin-top: -7px!important;
    position: relative!important;
}

#search-google-contacts {
    text-align:center;
}

#google-contacts-list {
    overflow-y: scroll!important;
    height: 60%;
    /* height: -webkit-calc(100% - 400px);
     height: calc(100% - 400px);*/
}

#submit-google-contacts {
    z-index: 1;
}

.search-icon {
    float: left;
    top: 27px;
    left: 10px;
}

.google-contact-entry {
    position: absolute;
    margin-top: 2px
}

#grey-screen{
    position: fixed;
    left: 80%;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 10;
}

.confirmed-registrations{
    border: solid 2px #333333;
    padding: 5px;
    position: relative;
    top:5%;

}

.select-boarding-point{
    margin-top:20%;
}
.set-location-button {
    position: relative;
    margin: 2px;
    margin-top: 10%;
    padding: 2px;
    border: solid 2px #333333;
    box-shadow: 3px 3px 1px #888888;
    display: inline-block;
    width: 45%;
    border-radius: 0;
}

.back-refresh {
    position: relative;
    margin-top: 40%;
    padding: 2px;
    border: solid 1px #333333;
    box-shadow: 3px 3px 1px #888888;
    display: inline-block;
    width: 35%;
    border-radius: 0;

}

#back {
    box-shadow: 0px 3px 1px #888888;
}

.select-boarding-point-home{
    margin: 15px;
    margin-bottom: 15%;
}

.boarding-point-home, .boarding-point-office {
    border: solid 1px #333333;
    margin: 10px;
    padding: 2px 5px;
    display: inline-block;
    box-shadow: 3px 3px 1px #333333;
    background-color: white;
    border-radius: 4px;
}

.phone-number-form {
    position: relative;
    top:20%;
}

.phone-number-input {
    height: 46px;
    width: 280px;
    border: solid 2px #333333;
    border-radius: 4px;
}

.phone-number-text {
    margin-top: 16px;
}

@media only screen and (min-device-width:500px) {

    body {
        font-size: 2.3rem !important;
    }

    .confirmed-registrations {
        border: solid 2px #333333;
        padding: 10px;
        position: relative;
        top: 5%;

    }

    .select-boarding-point {

        margin-top: 25%;
    }

    .set-location-button {
        position: relative;
        margin: 2px;
        margin-top: 10%;
        padding: 16px;
        border: solid 2px #ccc;
        box-shadow: 3px 3px 1px #ccc;
        display: inline-block;
        width: 45%;
        border-radius: 10px;
    }

    .back-refresh {
        position: relative;
        margin-top: 50%;
        padding: 10px;
        border: solid 1px #ccc;
        box-shadow: 3px 3px 1px #ccc;
        display: inline-block;
        width: 35%;
        border-radius: 10px;

    }

    #back {
        box-shadow: 0px 3px 1px #ccc;
    }

    .select-boarding-point-home {
        margin: 15px;
        margin-bottom: 15%;
        font-size: 3rem;
    }

    .boarding-point-home, .boarding-point-office {
        /* border: solid 1px #ccc; */
        /* margin: 16px; */
        /* padding: 10px 16px; */
        /* display: inline-block; */
        /* box-shadow: 3px 3px 1px #ccc; */
    }

    .phone-number-form {
        position: relative;
        top: 20%;
    }

    .phone-number-input {

        width: 100%;
        border: solid 2px #ccc;
        border-radius: 4px;
    }

    .phone-number-text {
        margin-top: 16px;
    }

    .btn, .headText, .headText .highlight, h1, h2, h3, h4, h5 {
        font-size: 2.3rem;
    }

    h6 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 3rem;
    }

    .ask-refresh {
        display: none;
    }

    .freecharge-banner {
        text-align: center;
        display: none;
    }

    .mobikwik-banner {
        text-align: center;
        display: none;
    }

    .booking-button {
        margin-top: 10%;
    }
}



label {
    display: block;
    color: #999;
}
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
:focus {
    outline: 0;
}
.loginform {
    width: 100%;
    height: 220px;
    margin: 50px auto;
    padding: 25px;
    background-color: rgba(250,250,250,0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2),
    inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.loginform ul {
    padding: 0;
    margin: 0;
}
.loginform li {
    display: inline;
    float: left;
}
.loginform input:not([type=submit]) {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;
}
.loginform input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef;
    background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2));
    background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%);
    background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%);
    background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%);
    background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 );
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 15px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.incorrect-entry {
    color: red;
    display: none;
    margin-top:200px;
}


.logout {
    position: relative;
    margin-top: 15px;
    padding: 10px;
    border: solid 1px #ccc;
    box-shadow: 3px 3px 1px #ccc;
    display: inline-block;
    width: 35%;
    border-radius: 10px;
    z-index: 10000;
}