<html lang="en" ng-app>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Shuttl</title>
</head>
<body>

<div id="container"></div>

<%= javascript_include_tag 'affiliate', 'data-turbolinks-track' => true %>

</body>
</html>